<div class="posts-sell-contents">

  <div class="posts-sell-main">
    <h2 class="posts-sell-title">物件の情報を入力</h2>
    <%= form_with model: @post, url:posts_path, local: true do |f| %>

    <%# 画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"post-image" %>
      </div>
    </div>
    <%# /画像 %>
    
    <%# タイトルと説明 %>
    <div class="new-posts">
      <div class="weight-bold-text">
        タイトル
      </div>
      <%= f.text_field :title, class:"posts-text", id:"post-title", placeholder:"タイトル（60文字まで)", maxlength:"60" %>
      <div class="posts-explain">
        <div class="weight-bold-text">
          物件説明
        </div>
        <%= f.text_area :explain, class:"posts-text", id:"post-info", placeholder:"物件説明（1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
        <div class="weight-bold-text">
          その他説明
        </div>
        <%= f.text_area :other, class:"posts-text", id:"post-other-info", placeholder:"その他説明（1,000文字まで）" ,rows:"4" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /タイトルと説明 %>

    <%# 投稿の詳細 %>
    <div class="posts-detail">
      <div class="form">
        <div class="weight-bold-text">
          都道府県
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"posts-text", id:"post-prefecture"}) %>
        <div class="weight-bold-text">
          地域
        </div>
        <%= f.text_field :local, class:"posts-text", id:"post-local", placeholder:"お住まいの地域（20文字まで)", maxlength:"20" %>
        <div class="weight-bold-text">
          建物
        </div>
        <%= f.text_field :building, class:"posts-text", id:"post-building", placeholder:"建物の形式（マンション、一軒家など)", maxlength:"20" %>
        <div class="weight-bold-text">
          価格 ¥
        </div>
        <%= f.text_field :price, class:"posts-text", id:"post-price", placeholder:"0~999999まで（半角数字）" %>
      </div>
    </div>
    <%# /投稿の詳細 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する", class:"sell-btn"%>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
</div>