<div class='main'>
  <%# 商品一覧 %>
  <div class='post-contents'>
    <ul class='post-lists'>

      <%= render partial: "posts/search", locals: { search: @searches } %>

      <% if @results.length == 0 %>
      <li class='no_result'>検索結果がありません</li>
      <% else %>
      <% @results.each do |result| %>
        <li class='list'>
          <%= link_to post_path(result) do %>
          <div class="post">
            <div class='post-left'>
              <%= image_tag result.image, class: "post-img" if result.image.attached?%>
            </div>
            <div class='post-center'>
              <h3 class='top-post-title'>
                <%= result.title %>
              </h3>
              <div class='top-post-explain'>
                <%= result.explain %>
              </div>
            </div>
            <div class='post-right'>
              <div class='top-post-price'>
                <%= result.price %>円
              </div>
              <div class='post-local'>
                <%= result.local %>
              </div>
              <div class='post-building'>
                <%= result.building %>
              </div>
              <div class='post-date'>
                投稿日<%= l result.created_at, format: :long %>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
