<%# 商品の概要 %>
<div class="post-show">
  <div class="post-box">
    <h2 class="title">
      <%= @post.title %>
    </h2>
    <div class='post-img-content'>
      <%= image_tag @post.image ,class:"post-box-img" %>
    </div>
    <div class="post-price-box">
      <span class="post-price">
        ¥ <%= @post.price%>
      </span>
    </div>
    
    <%# ログイン状態か、投稿者と自分のユーザーIDが同じかで表示を変える%>
      <%# 投稿者が見てる場合のみこちらを表示 %>
    <% if user_signed_in? && current_user.id == @post.user_id%>
      <%= link_to '投稿の編集', edit_post_path, method: :get, class: "post-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', post_path, method: :delete, class:'post-destroy' %>
      <%# //投稿者が見てる場合のみこちらを表示 %>
      <%# 投稿者以外が見てる場合はこちらを表示。ログアウト状態でも見れる %>
    <% else %>
      <%= link_to '質問する', post_path(@post.id) ,class:"post-red-btn"%>
    <% end %>
      <%# //投稿者以外が見てる場合はこちらを表示 ログアウト状態でも見れる%>
    <%# //ログイン状態か、投稿者と自分のユーザーIDが同じかで表示を変える%>

      <div class="post-explain-box">
        <span><%= @post.explain %></span>
      </div>
      <div class="post-other--box">
        <span><%= @post.other %></span>
      </div>

      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-post">投稿者</th>
            <td class="detail-value"><%= @post.user.nickname %></td>
          </tr>
          <tr>
            <th class="detail-post">都道府県</th>
            <td class="detail-value"><%= @post.prefecture.name %></td>
          </tr>
          <tr>
            <th class="detail-post">地域</th>
            <td class="detail-value"><%= @post.local %></td>
          </tr>
          <tr>
            <th class="detail-post">建物タイプ</th>
            <td class="detail-value"><%= @post.building %></td>
          </tr>
        </tbody>
      </table>
  </div>
  <%# /商品の概要 %>
</div>
