<%# 商品の概要 %>
<div class="post-show">
  <div class="post-box">
    <h2 class="title">
      <%= @post.title %>
    </h2>
    <div class='post-img-content'>
      <%= image_tag @post.image ,class:"post-box-img" %>
      
    </div>
    <div class="post-price">
      ¥ <%= @post.price%>
    </div>
    

    <div class="post-explain-box">
      <span><%= @post.explain %></span>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">投稿者</th>
          <td class="detail-value"><%= @post.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-post">都道府県</th>
          <td class="detail-value"><%= @post.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-post">地域</th>
          <td class="detail-value"><%= @post.local %></td>
        </tr>
        <tr>
          <th class="detail-post">建物</th>
          <td class="detail-value"><%= @post.building %></td>
        </tr>
        <tr>
          <th class="detail-post">その他</th>
          <td class="detail-value"><%= @post.other %></td>
        </tr>
      </tbody>
    </table>
    <%# <投稿主のみの編集ボタンと削除ボタン> %>
    <div>
      <% if user_signed_in? && current_user.id == @post.user_id%>
      <%= link_to '投稿の編集', edit_post_path, method: :get, class: "post-edit" %>
      <%= link_to '削除', post_path, method: :delete, class:'post-destroy' %>
      <% end %>
    </div>
    <%# /<投稿主のみの編集ボタンと削除ボタン> %>
    <%# <コメント欄> %>
    <div class="comment-box">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, class: "comment-text",placeholder: "コメントする", rows: "2" %>
        <%= form.submit "送信", class: "comment-btn" %>
      <% end %>
    <% else %>
      <strong><p class="comment-warn">※※※ コメントの閲覧、投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>

    <h4 class="comment-warn">＜コメント一覧＞</h4>

    <% if user_signed_in? == false %>
      <strong><p> . </p></strong>
    <% elsif @comments.length == 0 %>
      <strong><p class="comment-warn">※※※ コメントはまだありません。一番乗りしましょう！ ※※※</p></strong>
    <% else %>
      <% @comments.each do |comment| %>
        <p class="comment-box">
          <strong><%= comment.user.nickname %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    <% end %>
    </div>
    <%# </コメント欄> %>
  </div>
  <%# /商品の概要 %>
</div>