<!DOCTYPE html>
<html>
  <head>
    <title>RoomSharer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="nav">
        <h1><a href="/" class="app-name">RoomSharer</a></h1>
        <ul class='header-right'>
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, user_path(current_user.id), class: "header-btn" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-btn" %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path, class: "header-btn" %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: "header-btn" %></li>
        <% end %>
          <li> <%= link_to "部屋を貸す", new_post_path, class: "header-btn" %> </li>
        </ul>
      </div>
    </header>

      <%= yield %>
  </body>
</html>
